.DS_Store
**/.DS_Store
build/
*.plist
*.xcodeproj/
.vscode/
.ropeproject/
**/.ropeproject/
cmake/HalModules.cmake
*.a
*.so
*.dylib
*.dll
*.lib
*.exp
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
plyer/